@import "_mixins";

/* Put your CSS here */
html, body {}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#sidebar {
  display: none;
  @include respond-to(large-desktop){
    display: block;
  }
  @include respond-to(subtablet){
    display: block;
    h3 {
      display: none;
    }
  }
}

.spinner {
  background-image: url('/images/spiffygif_68x68.gif');
  background-repeat: no-repeat;
  background-size: 68px;
  height: 100px;
  text-align: center;
}

// #team{
//   @include make-lg-column(10);
//   .team_member {
//     @include make-row();
//     @include respond-to(large-desktop){
//       @include make-lg-column(3);
//       max-height: 90px;
//       overflow: hidden;
//     }
//     @include respond-to(subtablet){}
//     @include respond-to(phone) {}
//     a {@include make-row();}
//     img {
//       padding: 0; margin: 0;
//       @include respond-to(large-desktop) {
//         @include make-lg-column(6);
//       }
//       @include respond-to(subtablet) {
//         @include make-xs-column(4);
//       }
//       @include respond-to(phone) {
//         @include make-xs-column(12);
//       }
//     }
//     .details {
//       padding: 0; margin: 0;
//       h4 {
//         padding: 0;margin: 0;
//       }
//       @include respond-to(large-desktop) {
//         @include make-lg-column(6);
//       }
//       @include respond-to(subtablet) {
//         @include make-xs-column(8);
//       }
//       @include respond-to(phone) {
//         @include make-xs-column(12);
//         border-bottom: 1px solid #333;
//       }
//     }
//   }
// }

// .deal {
//   @include make-row();

//   h3 {
//     color: #2bedda;
//     margin-bottom: 0;
//   }
//   img {
//   }
// }
