<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="fragment" content="!" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
  <body ng-app="bdayApp" ng-controller="FrameCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- Splash screen -->
    <div class="splash" ng-cloak>
        <p>Loading...</p>
    </div>
    
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/mobile.css -->
    <link rel="stylesheet" media="screen and (max-width: 979px)" href="bower_components/ratchet/dist/ratchet.css">
    <link rel="stylesheet" media="screen and (max-width: 979px)" href="styles/mobile.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/desktop.css -->
    <link rel="stylesheet" media="screen and (min-width: 979px)" href="styles/desktop.css">
    <!-- endbuild -->
    
    <header class="bar-title">
      <a class="button-prev" 
        href="#/"
        ng-show="hasPrevPage()">Previous
      </a>
      <h1 class="title">
        <a href="#/">Mobile</a>
      </h1>
      <a ng-show="!userLoggedIn"
        ng-click="login()"
        class="button">Login</a>
      <a ng-show="userLoggedIn"
        ng-click="logout()"
        class="button">Logout</a>
    </header>

    <!-- Add your site or application content here -->
    <div class="content" ng-view=""></div>
        
        <!-- build:js scripts/core.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="scripts/vendor/modernizr.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass/js/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/button.js"></script>
        <script src="bower_components/bootstrap-sass/js/collapse.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bindonce/bindonce.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/fastclick/lib/fastclick.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/services/facebook.js"></script>
        <script src="scripts/services/sqoot.js"></script>
        <script src="scripts/services/groupon.js"></script>
        <script src="scripts/services/touch_device.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/share.js"></script>
        <script src="scripts/controllers/frame.js"></script>
        <!-- endbuild -->
</body>
</html>
