<ul class="list list-group">
  <li class="list-divider list-group-item">
    Deals near <span ng-bind="user.name"</span>
  </li>
  <li bindonce ng-repeat="deal in deals" class="tile-photo list-group-item">
    <a href="#/deal" ng-click="setDeal(deal)">
      <img
        bo-src="deal.grid6ImageUrl"
        ng-if="!touch" />
      <img
        bo-src="deal.mediumImageUrl"
        ng-if="touch" />
      <p bo-text="deal.description"></p>

      <div class="details details-deal">
        <h3 bo-text="deal.title"></h3>
      </div>
    </a>
  </li>
</ul>
